# old data not used 
/data/old

# renderers
# ignore for using dev dependencies
/_queenSystem/renderer/terminal
/_queenSystem/renderer/simpleRenderer.js
/_queenSystem/renderer/terminalRenderer.js

# test
/_queenSystem/testSuite.js
/testFile.js